#image-preview:hover{
transform: scale(1,1);
}
.body-div {
  background-color: transparent;
}

.profile-img{
  text-align: center;
  margin-top: 3%;
 
}

.center-divs{
  align-items: center;
  justify-content: center;
  display: flex;
}

.sell-text{
  color: #2E424D; 
  font-size: 34px;
  font-family: 'Playfair Display';
  justify-content: center;
  display: flex;
}

.hr-center{
  width: 50%;
  margin-left: 25%;
}

.fonts{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 7%;
  /* color: #a1a196; */
  color: #5B8291; 
  font-weight: 500;
  text-align: center;
  /* letter-spacing: 0.1rem; */
  font-size: 15px;
  margin-top: 3%;
}

#mycard{
  width: 100%;
  background-color: transparent;
  border: none;
  position:relative;
  overflow:hidden;
  margin-bottom: 5%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #98DAD9; */
}


@media (max-width: 600px){
  .h-media{
    color: #2E424D; 
    font-size: large;
    margin-top: 8%;
    font-weight: bold;
  }

  .label-media{
    color: #2E424D;  
    font-size: medium;
    font-weight: 500;
  }
}

@media (min-width: 600px){
  .h-media{
    color: #2E424D; 
    font-size: x-large;
    font-weight:bold;
  }

  .label-media{
    color: #2E424D; 
    font-size: large;
    font-weight: 500;
  }
}
