.userbookPage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    
}
.userBooks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 5px;
}
.userCard{
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 350px;
    height: 600px;
    padding: 10px;
    
}

.userCard img{
    border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        width: 100%;
}
.userCard img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.sideNav{
    width: 20%;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: #C5A992;

}
.statueBtn{
    
    margin-top: 10px;
    padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
    color:white;
    height: 90px;
}
.statueBtn:hover{
    color: #d1df56;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}