.books{
  display: grid;
  width: 65%;
  grid-template-columns: repeat(auto-fit,minmax(250px,auto));
  gap: 60px;
  box-shadow: 5 2px 0px  rgba(0, 0, 0, 0.2);
  margin: 3% auto;
}


.card {
  position: relative;
  padding: 10px;
}

.card img {
  width: 100%;
  margin: auto;
  height: 200px;
  display: block;
  padding-top: 1%;
  transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.card-title{
  text-align: center;
  font-family: 'Lobster', cursive;
  padding-top: 1rem;
}
.categortBtn{
  background:none;
  color: #2F2F2F;
  border-radius: 20px; 
  box-shadow: 3px 5px 5px #b4b1b1;
  padding: 10px 20px;
  cursor: pointer;
}

.categortBtn:hover{
  background: #2F2F2F;
  color: #F7F7F7;
}

.btns{
  display: flex;
  justify-content: space-between;
  width:55%;
  gap: 20px;
}
.search{
  width: 25%;
  margin-top: 10px;
}
.filter{
  display: flex;
  justify-content: space-between;
  width:90%;
  margin: auto;
}