.details{
    margin-left: 40%;
    border: 1px solid #F7F7F7;
    width: 35%;
}

.book{
    color: #FFCB74;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
}
.book1{
    color: #5A96E3;
    font-size: 18px;
    font-family: cursive;
}

#image2{
  height: 400px;
}