
.mapouter{
    position:relative;text-align:right;height:500px;width:100%;
}

.gmap_canvas{
    overflow:hidden;background:none!important;height:'40em';width:'5em';

}

 a:link{
    color: rgb(210, 185, 114);
 }
 .item1{
    margin-left: 2%;
 }


 .detail{
    margin-right: 7%;
 }
 input{
    width: 40%;
 }

 .name{
    width: 100%;
    margin-right: 2%;
 }

 .email{
    width: 120%;
    margin-left: 40px;
 }

/* Theme Colors */
:root {
    --accent-color       : #C5A992;
    --secondary-color    : #C5A992;
    --dark-color         : #2f2f2f;
    --light-color        : #F3F2EC;
    --body-text-color    : #757575;
    --light-text-color   : #afafaf;
    --dark-text-color    : #2f2f2f;
}
/* Fonts */
:root {
    --body-font           : "Raleway", sans-serif;
    --heading-font        : "Prata", Georgia, serif;
    --secondary-font      : "Playfair Display", Georgia, serif;
}

 .my-button {
    font-weight: bold;
    color: white;
    font-size: 19px;
    background: #ccb08a;
    width: 95%;
    height: 60px;

  }

  p{
    font-size: 17px;
    text-align: left;
    
  }