.newfrm{
    display: flex;
    flex-direction: column;
    padding: 5%;

}
.lbll{
    width: 160%;
    margin-left: 15%;

}

.btn2{
    margin-left: 5;
    margin-top: 5%;
    height: 55px;
    width: 40%;
    font-size: larger;
    margin-left: 25%;
}
.btn2:hover{
   
    border: 1px solid rgb(255, 255, 255);
 
}