.link,.link1,.link2{
    text-decoration: none;
    color: inherit;
}

.link:hover{
   padding: 3px 10px;
   background-color: aliceblue;
   color: black;
}

.active {
    color: white; 
}
.active2 {
    color: black; 
}