.main-menu{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 993px) {
  #header{
    /* background-color: #5B8291; */
    height: 20vh;
    padding-top: 2vh;
    color: rgba(0, 0, 0, 0.87);
  }

  .nav-con{
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
  }

  .footer-size{
    flex-basis:40%;
  }
  #footer-logo{
    flex-basis: 90%;
  }
}

@media (min-width: 992px) {
  #header{
    /* background-color: #5B8291; */
    height: 10vh;
    padding-top: 2vh;
    color: rgba(0, 0, 0, 0.87);
  }

  .nav-con{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .footer-size{
    flex-basis:16%;
  }
  #footer-logo{
    flex-basis: 27%;
  }
}

#footer{
    /* background-color: #5B8291; */
    color:  rgba(0, 0, 0, 0.87);
    /* padding-top: 5vh; */
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 0;
    text-align: center;
}
.logo{
    height:24vh;
    width: 60%
}

.user {
  display: flex;
  align-items: center;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-right: 10px; */
}

#loginBtn{
  font-weight: bold;
}


.navbar-toggler{
  height: 95%;
}

.navbar-toggler:focus {
  color: #5B8291;
  border: 3px solid #2E424D;
}
